<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
   
    <div class="container">
      <div class="row">
          <h1><%= title %></h1>
          <table class="table table-striped table-primary">
            <thead>
              <tr>
               
                <th>product id</th>
                <th>product name</th>
                
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <%if (records.length >0){ %>
              <% records.forEach(function(row){ %>
              <tr>
                <td><%= row.pid %></td>
                <td><%= row.product_name %></td>
                
                <td><%= row.price %></td>
                <td>
                  <a class="btn btn-danger btn-xs" href="/delete/<%= row.pid %>">delete</a>
                </td>
              </tr>
              <% })}else{ %>
                <tr>
                    <td colspan="6">No Record Found</td>
                    
                  </tr>
                <% } %>
            </tbody>
          </table>
    </div>
  </div>

  </body>
</html>
