<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>

    
    <div class="container">
      <div class="row">
          <h1><%= title %></h1>
          <table class="table table-striped table-primary">
            <thead>
              <tr>
               
                <th>product id</th>
                <th>product name</th>
                <th>product information</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <%if (records.length >0){ %>
              <% records.forEach(function(row){ %>
              <tr>
                <td><%= row.pid %></td>
                <td><%= row.product_name %></td>
                <td><%= row.product_information %></td>
                <td><%= row.price %></td>
                <td><a class="btn btn-primary btn-xs" href="/buy/<%= row.pid %>">buy</a>
                  
                </td>
   
              </tr>
              <% })}else{ %>
                <tr>
                    <td colspan="6">No Record Found</td>
                    
                  </tr>
                <% } %>
            </tbody>
          </table>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">product Details Form</div>
                    <p><%
                      if(success !=''){ %>
                      <%= success %>
                        <% } %>
                      </p>
                     </div>  
                <div class="panel-body" >
                    <form action="/" id="EmployeeForm" class="form-horizontal" method="post"  role="form">
                        
                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>
                            
                       
                          
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">product name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="pname" placeholder="Enter product name">
                            </div>
                        </div>
                            
                        
                                      <div class="form-group">
                            <label for="password" class="col-md-3 control-label">product information</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="pinfo" placeholder="Enter product information">
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="password" class="col-md-3 control-label">price</label>
                          <div class="col-md-9">
                              <input type="text" class="form-control" name="pprice" placeholder="Enter price">
                          </div>
                      </div>
                         <div class="form-group">
                            <!-- Button -->                                        
                            <div class="col-md-offset-3 col-md-9">
                            <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                            </div>
                        </div>
                        
                        
                        
                        
                        
                    </form>
                 </div>
            </div>

       
       
        
 </div> 
    </div>
  </div>
  </body>
</html>
